.m-portfolio {
  background-color: white;
  padding: 2 0 1;

  &__hero {
    padding-bottom: 2;
  }

  &__card {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__media {
      padding-top: 56.25%;
    }

    &__content {
      flex-grow: 1;
    }

    &__grid {
      padding-top: 5;
      padding-bottom: 8;
    }
  }
}
