$primary-color: #3f51b5;
$complementary-color: #b5a33f;
$neutral-color: #eeeeee;

$triadic-color-1: #b53f51;
$triadic-color-2: #51b53f;

$analogous-color-1: #683fb5;
$analogous-color-2: #3f8cb5;

$split-complement-color-1: #b5683f;
$split-complement-color-2: #3f8cb5;

$monochromatic-color-darkest: #2b387c;
$monochromatic-color-darker: #32408f;
$monochromatic-color-dark: #3849a2;
$monochromatic-color-light: #4d5ec1;
$monochromatic-color-lighter: #606fc7;
$monochromatic-color-lightest: #7280ce;

$drawer-color: $primary-color;
$footer-color: $neutral-color;
