<!DOCTYPE html>
<html>
	<head>
		<title>{{ payload.subject }}</title>
	</head>
	<body>
		<div>
			<h1>Message from
				{{ payload.name }}</h1>
			<p>{{ payload.message }}</p>
		</div>
	</body>
</html>
